
.composition {
    position: relative;
    
    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 5px;
        position: absolute;
        transition: all .7s;
        z-index: 10;
        background-size: cover;

        &--p1 {
            left: 0;
            top: -2rem;
            background-image:url(../../img/nat-1-large.jpg);
            background-color: $color-primary-dark;
            background-blend-mode:screen;
            height: 25rem;
        }

        &--p2 {
            right: 0;
            top: 2rem;
            background-image:url(../../img/nat-2-large.jpg); 
            background-color: $color-secondary-dark;           
            background-blend-mode:screen;
            height: 25rem;
        }

        &--p3 {
            left: 10%;
            top: 10rem;
            background-image:url(../../img/nat-3-large.jpg);
            background-color: $color-tertiary-dark;
            background-blend-mode:screen;
            height: 25rem;
        }

        &:hover {
            background-color: transparent;
            transform: scale(1.5) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .6);
            z-index: 30;
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.90)
    }  
}

